In [21]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [6]:
df = pd.read_csv("College_Data.csv")
df = df.drop(['Unnamed: 0', "Accept", "Enroll"], axis=1)

In [8]:
df.Private = df.Private.replace("Yes", 1)
df.Private = df.Private.replace("No", 2)

In [9]:
df

,Private,Apps,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,1,1660,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,1,2186,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,1,1428,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,1,417,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,1,193,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,2,2197,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,1,1959,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,1,2097,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,1,10705,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,1,2989,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [16]:
X_train,  X_test, y_train, y_test = train_test_split(df.drop("Apps", axis=1), df.Apps, test_size=0.33)

In [25]:
X_train

,Private,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
405,2,27,62,3311,1646,8832,5376,700,1850,92,98,13.5,19,12529,72
762,1,17,39,851,120,10535,4365,550,3700,39,66,12.9,16,7438,52
252,1,22,52,935,37,9376,3272,500,1902,57,63,13.0,17,7335,52
769,1,42,68,1980,144,15948,4404,400,800,82,95,12.8,29,10414,78
748,1,20,43,665,37,10720,4050,600,1650,66,70,12.5,20,7925,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683,2,27,53,15749,3237,5764,3262,750,3300,86,92,16.5,22,8612,53
730,1,12,30,1280,61,8840,3620,500,1200,57,58,16.2,26,6563,63
112,2,3,37,2910,1749,7860,4750,525,1889,80,82,21.2,16,4639,48
689,1,46,83,1129,24,15350,4080,450,810,89,93,10.3,52,18784,82
741,2,11,31,5000,706,6390,2380,110,1622,67,78,14.6,9,6554,55

In [18]:
X_train.shape,X_test.shape, y_train.shape , y_test.shape

((520, 15), (257, 15), (520,), (257,))

In [19]:
lr = LinearRegression()

lr.fit(X_train, y_train)

LinearRegression()

In [27]:
pred = lr.predict(X_test)

In [26]:
mean_squared_error(y_train, pred, squared=False)

2016.2764360467027

In [28]:
mean_squared_error(y_test, pred, squared=False)

1740.0872547493227